<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<typeAlias type="com.example.demo.controller.IndexController" alias="inDexcontroller"></typeAlias>
	<typeAlias type="com.example.demo.dto.InputDTO" alias="inputDTO"></typeAlias>
	<typeAlias type="com.example.demo.dto.PointDTO" alias="pointDTO"></typeAlias>
	</typeAliases>
</configuration>